<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">下单日期</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" class="layui-input" id="startTime">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" class="layui-input" id="endTime">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" name="search" id="conditions" placeholder="请输入订单编号、工单编号、达人名称、工种名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
                <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
            <a class="layui-btn" th:href="@{'/order/add'}" style="text-decoration: none">新增订单</a>
            </div>
        </div>
    </div>
    <div style="margin:9px 150px">
        <tr>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit lay-filter="btnDemo">全部</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit lay-filter="btnDemo" >待确认</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit lay-filter="btnDemo">待到达</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit  lay-filter="btnDemo">待完工</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit lay-filter="btnDemo">待验收</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit  lay-filter="btnDemo">已取消</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit  lay-filter="btnDemo">待评价</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit lay-filter="btnDemo">已结束</button></th>
            <th><button type="button" class="layui-btn layui-btn-sm" width="10%" lay-submit lay-filter="btnDemo">异常</button></th>
        </tr>

    </div>
</form>


<table id="ordertable" lay-filter="ordertablefilter"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" th:inline="javascript">
    //Demo
    layui.use(['layer', 'form', 'element', 'jquery', 'laydate','table'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;
        //执行一个laydate实例
        laydate.render({
            elem: '#startTime', //指定元素
            type: 'datetime'
            , done: function (value, date, endDate) {
            }
        });
        laydate.render({
            elem: '#endTime', //指定元素
            type: 'datetime'
            , done: function (value, date, endDate) {
            }
        });

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            var $ = layui.$;
            var conditions = $("#conditions").val();
            /*alert($("#btn1").text())*/
            $.ajax({
                url: "/order/findOrderByConditions",
                type: 'post',
                data:
                    {
                        "startTime": $("#startTime").val(),
                        "endTime": $("#endTime").val(),
                        "orderId": conditions,
                        "talentName": conditions,
                        "workType": conditions,
                        "workMenuId": conditions

                    },
                dataType: "json",
                success: function (data) {
                    //请求成功触发的回调
                    console.log(data)
                    if (data.code == 200) {
                        var d = data.data;

                    } else {
                        // errorResult();
                    }

                },
                error: function (err) {
                    //请求失败触发的回调
                    console.log(err)
                }

            });

            return false;
        });

        form.on('submit(btnDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            var $ = layui.$;

            $(document).on('click' , 'button' , function(){
                var orderStatus = $(this).text();
                //alert(orderStatus);
            $.ajax({
                url: "/order/findOrderByStatus",
                type: 'get',
                data:
                    {"orderStatus": orderStatus},
                dataType: "json",
                success: function (data) {
                    //请求成功触发的回调
                    console.log(data)
                    if (data.code == 200) {
                        var d = data.data;

                    } else {
                        // errorResult();
                    }

                },
                error: function (err) {
                    //请求失败触发的回调
                    console.log(err)
                }

            });
            return false;
            });
        });


        //第一个实例
        table.render({
            elem: '#ordertable'
            , height: 312
            , url: '/order/list' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: '序号', width: '8%'},
                {field: 'orderId', title: '订单编号', width: '8%'},
                {field: 'talentName', title: '达人名称', width: '8%'},
                {field: 'workMenuId', title: '工单编号', width: '8%'},
                {field: 'workType', title: '工种', width: '8%'},
                {field: 'workTime', title: '工作时间', width: '20%'},
                {field: 'orderAmount', title: '订单金额', width: '10%'},
                {field: 'orderStatus', title: '订单状态', width: '10%'},
                {field: 'orderTime', title: '下单日期', width: '20%px'},
                {fixed: 'right', title: '操作', toolbar: '#barDemo', width: '150px'}
            ]]
        });

        //监听行工具事件
        table.on('tool(ordertablefilter)', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        async: true,//默认是true同步  异步改false
                        url: "/order/del",//要访问的服务器地址
                        type: "POST", //访问方式（POST）
                        data: {"orderCode": data.orderCode},
                        dataType: "json",
                        success: function (data) {
                            //请求成功触发的回调
                            console.log(data)
                            if (data.code == 200) {
                                layer.alert(data.msg, {icon: 6}, function (index) {
                                    //关闭当前frame
                                    layer.close(index);
                                });
                                obj.del();//删除对应行（tr）的DOM结构，并更新缓存
                            }
                        },
                        error: function (err) {
                            //请求失败触发的回调
                            console.log(err)
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    area: [($(window).width() * 0.7) + 'px', ($(window).height() * 0.7) + 'px'],
                    fix: false, //不固定
                    maxmin: true,
                    shadeClose: false,
                    shade: 0.4,
                    title: "编辑订单",
                    content: '/order/edit?orderCode=' + data.orderCode,
                    end: function () {
                        $("#queryButton").click();
                    }
                });
            }
        });
    });

</script>
</body>
</html>