<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="layui/css/layui.css">
    <h3>管理平台>><a href="#">分类管理</a></h3>
</head>

<br/>
<br/>
<body class="layui-form" action="">
    <form class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" name="search" placeholder="请输入工种名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
                <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
            </div>
        </div>
        <div class="layui-inline">
        <div class="layui-input-inline" style="width: 80px;">
            <a class="layui-btn" style="text-decoration: none">添加</a>
        </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
                <a class="layui-btn"  style="text-decoration: none">删除</a>
            </div>
        </div>

</form>
    <br/>
    <br/>
    <br/>
<div class="demo-side">
    <table id="demoTreeTb"></table>
</div>
    <script type="text/html" id="tbBar">
        <div class="layui-btn-group">   <!--th:href="@{'/doAddDownMenu'}"-->
            <button class="layui-btn layui-btn-sm"  lay-event="add"><i class="layui-icon">&#xe654;</i>添加下级</button>
            <button class="layui-btn layui-btn-sm" lay-event="update"><i class="layui-icon">&#xe642;</i>编辑</button>
             <button class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</button>
        </div>
    </script>
<script src="layui/layui.js"></script>
<script type="text/javascript">

    /*使用模块加载的方式使用treetable*/
    layui.config({
        base: 'layui/'
    }).extend({
        treeTable: 'module/treeTable'
    }).use(['layer', 'util', 'treeTable'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var util = layui.util;
        var treeTable = layui.treeTable;
        $('body').removeClass('layui-hide');

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#demoTreeTb',
            url: 'fingClassifiedObjects',
            toolbar: 'default',
            height: 'full-200',
            icon_key: 'classfiedName',
            tree: {
                iconIndex: 2,
                isPidData: true,
                idName: 'id',//id字段的名称
                pidName: 'parentId'//父级id字段
            },
            defaultToolbar: ['filter', 'print', 'exports', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                /*    [

                ],*/
                /*[
                    /!*{title: '只是想演示一个多级表头', colspan: 4},*!/
                    {field: 'menuUrl', title: '菜单地址', rowspan: 2},
                   /!* {title: '这是一个二级表头', colspan: 4}*!/
                ],*/
                [
                    {type: 'numbers'},
                    {type: 'checkbox'},
                    {field: 'classfiedName', title: '分类名称', minWidth: 100},
                    /* {
                        title: '菜单图标', align: 'center', hide: true,
                        templet: '<p><i class="layui-icon {{d.menuIcon}}"></i></p>'
                    },*/
                    {field: 'top', title: '上移↑'},
                    {field: 'down', title: '下移↓'},
                    /*{title: '类型', templet: '<p>{{d.isMenu?"菜单":"按钮"}}</p>', align: 'center', width: 60},
                    {
                        title: '创建时间', templet: function (d) {
                        return util.toDateString(d.createTime);
                    }
                    },*/
                    {align: 'center', toolbar: '#tbBar', title: '操作', width: 300}
                ]
            ],
            style: 'margin-top:0;'
        });

        // 工具列点击事件
        treeTable.on('tool(demoTreeTb)', function (obj) {
            var event = obj.event;
            var data = obj.data;

            /**/
            if (event === 'del') {//提示：如果当前元素下还有子元素则不允许删除
                layer.confirm('确认删除行么', function (index) {
                    var r = confirm("确认删除该行吗？");
                    if (r) {
                        if (data.children && data.children.length > 0)
                            return layer.msg('有子级不能删除，请先删除子级');
                        $.ajax({
                            url: "/deleteObjectById/" + data.id,
                            type: "POST",
                            data: {_method: "DELETE", id: data.id},
                            dataType: "json",
                            success: function (result) {
                            }

                        })
                        ;
                    }

                    obj.del();
                    layer.close(index);
                    //向服务端发送删除指令

                    layer.msg('删除成功');

                })
            } else if (event === 'edit') {
                /*dosomething*/
                layer.msg('修改成功');
                obj.update({classfiedName: '新的分类名称'});
            } else if (event == 'add') {//注，三级以下不允许添加下级
                /*var  r=data.parent.length
                if(r>2)return layer.msg("三级以下级别不允许添加下级");*/
                layer.open({
                        title: '添加此下级的分类名称',
                        content: '分类名称<input id="name" type="text"></input>',
                        btn: '确定',
                        yes: function (index, layero) {
                            // var obj = $(layero).find("iframe")[0].contentWindow; //obj可以调用子页面的任何方法
                            // var body=layer.getChildFrame('body',index);//少了这个是不能从父页面向子页面传值的

                            $.ajax({
                                async: true,//默认是true同步  异步改false
                                url: "/insertMenu/" + $("#name").val() + "/" + data.parent.id,//要访问的服务器地址
                                type: "POST", //访问方式（POST）
                                data: {_method: "INSERT", id: data.id},
                                dataType: "json",
                                success: function (data) {
                                    //请求成功触发的回调
                                    console.log(data)
                                    if (data.code == 200) {
                                        layer.alert(data.msg, {icon: 6}, function (index) {
                                            //关闭当前frame
                                            layer.close(index);
                                        });
                                        obj.insertRow();//添加对应行（tr）的DOM结构，并更新缓存
                                        layer.msg("添加下级成功");
                                    }
                                },
                                error: function (err) {
                                    //请求失败触发的回调
                                    console.log(err)
                                }

                            })

                            layer.close(index); //如果设定了yes回调，需进行手工关闭

                        }
                    });


            }
            ;

            // 头部工具栏点击事件
            treeTable.on('toolbar(demoTreeTb)', function (obj) {
                switch (obj.event) {
                    case 'add':
                        layer.msg('添加');
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                    case 'LAYTABLE_TIPS':
                        layer.msg('提示');
                        break;
                }
            });

            // 全部展开
            $('#btnExpandAll').click(function () {
                insTb.expandAll();
            });

            // 全部折叠
            $('#btnFoldAll').click(function () {
                insTb.foldAll();
            });

            // 展开指定
            $('#btnExpand').click(function () {
                insTb.expand(2);
            });

            // 折叠指定
            $('#btnFold').click(function () {
                insTb.fold(2);
            });

            // 设置选中
            $('#btnChecked').click(function () {
                insTb.expand(4);
                insTb.setChecked([4]);
            });

            // 搜索
            $('#btnSearch').click(function () {
                var keywords = $('#edtSearch').val();
                if (keywords) {
                    insTb.filterData(keywords);
                } else {
                    insTb.clearFilter();
                }
            });

            // 清除搜索
            $('#btnClearSearch').click(function () {
                insTb.clearFilter();
            });

            // 重载
            $('#btnReload').click(function () {
                insTb.reload();
            });
            $('#btnRefresh').click(function () {
                insTb.refresh();
            });

            // 获取选中
            $('#btnGetChecked').click(function () {
                layer.alert('<pre>' + JSON.stringify(insTb.checkStatus().map(function (d) {
                    return {
                        authorityName: d.authorityName,
                        authorityId: d.authorityId,
                        LAY_INDETERMINATE: d.LAY_INDETERMINATE
                    };
                }), null, 3) + '</pre>');
            });

            // 演示侧边栏
            $('#btnToggleSide').click(function () {
                $('.demo-side').toggleClass('show');
            });

        })
    })
</script>

</body>
</html>