<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
</head>
<body>

<form class="layui-form" id="meber" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">>会员姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" autocomplete="off" placeholder="请输入会员姓名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员年龄</label>
        <div class="layui-input-block">
            <input type="text" name="age" autocomplete="off" placeholder="请输入会员年龄" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">>工种类型</label>
        <div class="layui-input-block">
            <input type="text" name="workType" autocomplete="off" placeholder="请输入工种类型" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="telephone" autocomplete="off" placeholder="请输入联系方式" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">>注册时间</label>
        <div class="layui-input-block">
            <input type="text" name="registTime" autocomplete="off"  class="layui-input" id="registTime">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员状态</label>
        <div class="layui-input-block">
            <input type="text" name="status" autocomplete="off" placeholder="请输入会员状态" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" lay-event="add">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript" th:inline="javascript">
    //Demo
    layui.use(['layer', 'form', 'element', 'jquery', 'laydate'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;
        //执行一个laydate实例
        var startTime = laydate.render({
            elem: '#registTime' //指定元素
            , type: 'datetime'
            //控件选择完毕后的回调点击日期、清空、现在、确定均会触发。
            , done: function (value, date, endDate) {
            }
        });
        laydate.render({
            elem: '#endDate' //指定元素
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.msg(JSON.stringify(data.field));
            console.log(data.field);
            console.log(JSON.stringify(data.field));
            var requestData = $("#meber").serialize();
            console.log(requestData)
            $.ajax({
                async: true,//默认是true同步  异步改false
                url: "/insertMember",//要访问的服务器地址
                type: "POST", //访问方式（POST）
                data:requestData,
                /*{"age": data.age},
              {"work_type": data.work_type},
              {"telephone": data.telephone} ,
              {"regist_time": data.regist_time},
              {"status": data.status},*/
                dataType: "json",
                success: function (data) {
                    //请求成功触发的回调
                    console.log(data)
                    if (data.code == 200) {
                        layer.alert(data.msg, {icon: 6}, function (index) {
                            //关闭当前frame
                            layer.close(index);
                        });
                        obj.insertRow();//添加对应行（tr）的DOM结构，并更新缓存
                    }
                },
                error: function (err) {
                    //请求失败触发的回调
                    console.log(err)
                }
            })
            return false;
        });
    });


</script>
</body>
</html>