<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">下单日期</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" class="layui-input" id="startDate">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" class="layui-input" id="endDate">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" name="search" placeholder="请输入姓名、电话号码、年龄、工种" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
                <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
                <a class="layui-btn" th:href="@{'/member/add'}" style="text-decoration: none">新增</a>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 80px;">
                <button class="layui-btn" lay-submit lay-filter="formDemo">删除</button>
            </div>
        </div>
    </div>
</form>
<table id="membertable" lay-filter="membertablefilter" align="center"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="update">审核</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" th:inline="javascript">

    //Demo
    layui.use(['layer', 'form', 'element', 'jquery', 'laydate','table'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var $ = layui.$;
        //执行一个laydate实例
        laydate.render({
            elem: '#startDate' //指定元素
        });
        laydate.render({
            elem: '#endDate' //指定元素
        });
        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#membertable'
            ,height: 312
            ,url: '/MemberList' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                //{ type: 'text', fixed: 'left' },
                {field: 'id', title: '序号', width: '10%'},
                {field: 'name', title: '姓名', width: '10%'},
                {field: 'age', title: '年龄', width: '10%'},
                {field: 'workType', title: '工种', width: '10%'},
                {field: 'telephone', title: '电话', width: '10%'},
                {field: 'registTime', title: '注册日期', width: '10%'},
                {field: 'status', title: '状态', width: '10%'},
                { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }

            ]]
        });

        //监听工具条
        table.on('tool(membertablefilter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            console.log(data);
            if(layEvent === 'detail'){ //查看
                //do somehing
            } else if(layEvent === 'del'){ //删除
                layer.confirm('确认删除行么', function(index){

                    var r=confirm("确认删除该行吗？");
                    if(r){
                        $.ajax({
                            url:"http://localhost:8088/memberDelete/"+data.id,
                            type:"POST",
                            data:{_method:"DELETE", id:data.id},
                            dataType:"json",
                            success:function(result){
                            }

                        })
;
                    }


                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){ //编辑
                layer.open({
                    type: 2,
                    area: [($(window).width() * 0.7) + 'px', ($(window).height()* 0.7) + 'px'],
                    fix: false, //不固定
                    maxmin: true,
                    shadeClose: false,
                    shade: 0.4,
                    title: "编辑订单",
                    content: '/updateMember?id='+ data.id,
                    end: function () {
                        $("#queryButton").click();
                    }
                });


            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });

    });
</script>



</body>
</html>